.card {
    margin: 150px auto 0px;
    align-content: center;
    border-radius: 20px;
    height: 300px;
    width: 700px;
    background-image: url("https://images.unsplash.com/photo-1533282960533-51328aa49826?q=80&w=1542&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 30px 2px rgb(117, 39, 50);
}
.card p {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    align-content: center;
    margin-top: 220px;
    color: whitesmoke;
}
p:hover {
    text-align: center;
    transition: ease-in-out;
    letter-spacing: 20px;
}