/* -----------------------------------------------FONT FAMILIES------------------------------------------------ */

:root, body {
    font-family: sohneBuch,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    scroll-behavior: smooth!important;
}

/* ---------------------------------------------BROWSER STYLESHEET------------------------------------------------ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: solid; */
    @font-face {
        font-family: manukaBold;
        src: url();
    }
}

/* ------------------------------------------FIRST MAIN DIVISION START------------------------------------------------ */

.first-section {
    /* border: solid cyan; */
    width: 100%;
    height: 100vh;
    background-image: url(./river/1stdivimage.png),  linear-gradient(to bottom, grey, grey, grey);
    background-position: bottom center;
    background-size: cover;
    position: relative;
    background-blend-mode: multiply;
}

.left-image .indie {
    /* border: solid cyan; */
    width: 480px;
    height: 124px;
    margin-top: 400px;
    margin-left: 35px;
    position: absolute;
}

.right-image .suv {
    /* border: solid cyan; */
    width: 610px;
    height: 140px;
    position: absolute;
    margin-top: 405px;
    margin-left: 1255px;
}

.price {
    /* border: solid cyan; */
    position: absolute;
    margin-top: 570px;
    margin-left: 1290px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2.1875rem;
    align-content: center;
    text-align: justify;
    font-size: x-large;
    color: white;
}

/* ------------------------------------------------NAVBAR STARTS------------------------------------------------ */

.header-transparent {
    /* border: solid goldenrod; */
    width: 100%;
    height: 70px;
    position: absolute;
    background-color: transparent;
}

.header-logo {
    /* border: solid red; */
    display: flex;
    position: absolute;
    color: transparent;
    height: 64px;
    margin-left: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.four-nav ul{
    /* border: solid palevioletred; */
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 30px;
    background-color: transparent;
    list-style: none;
    align-items: center;
    position: absolute;
    margin-top: 19px;
    margin-left: 650px;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: medium;
    font-size: 18px;
    color: rgb(222 238 246);
    /* letter-spacing: 0.5px; */
}

.product {
    text-decoration: underline solid 1px;
    text-underline-offset: 3px;
}

.nav {
    display: flex;
}

.one-nav {
    /* border: solid palevioletred; */
    width: 50px;
    height: 30px;
    display: flex;
    justify-content: center;
    background-color: transparent;
    list-style: none;
    align-items: center;
    position: absolute;
    margin-top: 19px;
    margin-left: 1265px;
    cursor: pointer;
    /* font-weight: bold; */
    font-size: medium;
    font-size: 18px;
    color: rgb(222 238 246);
    /* letter-spacing: 0.5px; */
}

.header-buttons {
    /* border: solid red; */
    width: 265px;
    height: 40px;
    margin-left: 1595px;
    margin-top: 14px;
    display: flex;
    justify-content: space-between;
    /* letter-spacing: 0.5px; */
}

.button-with-bg {
    /* border: solid cyan; */
    border-radius: 30px;
    height: 40px;
    width: 140px;
    border: 1px yellow solid;
    background-color: yellow;
    /* font-weight: bold; */
    font-size: medium;
}

.button-with-bg:hover {
    color: yellow;
    background-color: rgb(55 52 9);
    border: 1px rgb(55 52 9) solid;
    /* font-weight: bold; */
    font-size: medium;
}

.button-without-bg {
    /* border: solid cyan; */
    border-radius: 38px;
    height: 40px;
    width: 115px;
    background: transparent;
    border: 1px yellow solid;
    color: yellow;
    /* font-weight: bold; */
    font-size: medium;
}

.button-without-bg:hover {
    color: black;
    background-color: yellow;
    border: 1px yellow solid;
    font-size: medium;
    /* font-weight: bold; */
}

/* ------------------------------------------------NAVBAR ENDS------------------------------------------------ */
/* ------------------------------------------FIRST MAIN DIVISION ENDS------------------------------------------------ */
/* -----------------------------------------HELP BUTTON DIVISION STARTS---------------------------------------------- */

.help-button {
    position: fixed;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    z-index: 1;
}

.river-help {
    position: fixed;
    height: 50px;
    margin-bottom: 150px;
    margin-left: 1830px;
    z-index: 1;
}

/* ------------------------------------------HELP BUTTON DIVISION ENDS---------------------------------------------- */
/* -----------------------------------------SECOND MAIN DIVISION STARTS--------------------------------------------- */

@font-face {
    font-family: 'ManukaBold';
    src: url('../../../../../FONT_PACKS/manuka-font-family-1723978321-0/TestManuka-Bold-BF663c33db7b03f.otf');
}

@font-face {
    font-family: 'ManukaThin';
    src: url('../../../../../FONT_PACKS/manuka-font-family-1723978321-0/TestManuka-Thin-BF663c33db97e05.otf');
}

@font-face {
    font-family: 'SöhneBuch';
    src: url('../../../../../FONT_PACKS/sohne-font-family-1723978405-0/TestSohne-Buch-BF663d89cd32e6a.otf');
}

.second-section {
    width: 100%;
    height: 73vh;
    background-color: rgb(196, 225, 238);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.uds {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    max-width: 1903px;
}

.utility, .design, .tech-spec {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.five-five, .one-four, .one-eight {
    font-family: 'ManukaBold', sans-serif;
    font-size: 200px;
    color: rgb(0, 125, 182);
    line-height: 1;
}

.litres, .degrees {
    font-family: 'ManukaThin', sans-serif;
    font-size: 60px;
    line-height: 1;
}

.u-text, .d-text {
    width: 80%;
    font-family: 'SöhneBuch', sans-serif;
    font-size: 16px;
    margin-top: 20px;
    color: #333;
}

.u-link, .d-link {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.u-link p, .d-link p {
    font-family: 'SöhneBuch', sans-serif;
    font-size: 16px;
    color: #007DB6;
    margin: 0;
}

.u-svg, .d-svg {
    margin-left: 10px;
    fill: #007DB6;
}

.ss-white {
    height: 100px;
    background-color: #ffffff;
}

/* ------------------------------------------SECOND MAIN DIVISION ENDS------------------------------------------- */
/* ------------------------------------------THIRD MAIN DIVISION STARTS------------------------------------------ */

.third-section {
    /* border: solid cyan; */
    display: flex;
    width: 100%;
    height: 130vh;
    position: relative;
}

.images-container {
    /* border: solid red; */
    display: flex;
    width: 1903px;
    height: 1708px;
    display: flex;
    justify-content: space-evenly;
    position: absolute;
}

.first-image, .second-image, .third-image {
    /* border: solid yellow; */
    display: flex;
    width: 596px;
    height: 1060px;
}

/* --------------------------------------------THIRD MAIN DIVISION ENDS------------------------------------------ */
/* ------------------------------------------FOURTH MAIN DIVISION STARTS------------------------------------------ */







/* :root {
    --swiper-theme-color: #007aff;
} */