body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f0f8ff, #e0f7fa);
    margin: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
    animation: backgroundAnimation 10s infinite alternate;
}

@keyframes backgroundAnimation {
    0% { background: linear-gradient(135deg, #f0f8ff, #e0f7fa); }
    100% { background: linear-gradient(135deg, #a0e1e0, #b0defe); }
}

div h1 {
    text-align: center;
    justify-content: center;
    font-size: medium;
}

div p {
    text-align: center;
    justify-content: center;
}

.card {
    width: 500px;
    height: 300px;
    perspective: 1000px;
}

.card-cover, .card-inside {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border: 2px solid #000;
    background-color: #fff;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    transition: transform 1s;
}

.card-cover {
    transform: rotateY(0deg);
}

.card-inside {
    transform: rotateY(-180deg);
    background-color: #12576a;
    color: #fff;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    background-color: #008cba;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f73;
}
