.header {
    background-color: whitesmoke;
    display: inline;
    position: static;
}
.footer {
    background-color: lightgray;
    text-decoration-color: darkgray;

}
ul li {
    display: inline-block;
}