.card{
    width: 500px;
    position: relative
    ;
}
img{
    width: 100%;
    border-radius:10px 10px 0 0;
}
.card button{
    border:solid rgb(80, 35, 20);
    color:rgb(80, 35, 20);
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
    position:absolute;
    bottom: 0;
    right: 0;


}