body {
    background-color: #eaeff1;
    background-image: url('https://images.unsplash.com/photo-1722525901811-d838723349ee?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwcm9maWxlLXBhZ2V8MTd8fHxlbnwwfHx8fHw%3D');
    background-size: cover;
    background-position: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: relative;
    z-index: 1;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* Adjust the blur amount as needed */
    z-index: -1;
}
header {
    background-color: #f0b07c;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

footer {
    background-color: #f0b07c;
    padding: 10px;
    text-align: center;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 18px;
    font-weight: 400;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 400px;
    object-fit: cover;
}
/* styling the ccontainer */
#container {
    max-width: 300px;
    margin: 0 auto;
    margin-top: 20vh;
    float: left;
    padding-left: 50px;
    padding-right: 25px;
}
/* styling the card */
.card {
    background-color: white;
    border: 2px solid #f0b07c;
    padding: 8px;
    border-radius: 12px;
    margin: 10 10 10 10;
    margin: 10 10;
}
/* Styling div elements having class = tag */
.tag {
    padding: 4px 8px;
    border: 1px solid #f0b07c;
    border-radius: 50px;
    font-size: 12px;
    font-weight: 600;
    color: #814e0b;
    cursor: grab;
}
/* Styling div elements having class = name */
.name {
    font-size: 24px;
    font-weight: 600;
    margin-top: 16px;
}
/* Styling p element */
p {
    font-size: 14px;
    color: #814e0b;
    font-weight: 300;
    line-height: 150%;
}
/* Styling Button element */
button {
    border: none;
    padding: 12px 24px;
    border-radius: 50px;

    font-weight: 600;
    color: #814e0b;
    background-color: #f0b07c;

    margin: 0 auto;
    display: block;

    cursor: grab;
}
.card_details {
    padding: 16px 8px 8px 8px;
}
button:focus,
button:hover {
    background-color: #814e0b;
    color: #e0efff;
}
