/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-black {
    background: #292929;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    display: inline-block;
}

.hb-left ul {
    list-style: none;
    display: flex;
    align-items: center;
    display: inline-block;
}

.hb-left .logo-1,
.hb-left .logo-2 {
    margin-right: 15px;
}

.hb-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toll-free-number {
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
}

.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons img {
    width: 25px;
    height: 24px;
    margin-left: 10px;
}

.logo-1 {
    width: 170px;
    height: 40px;
}

.logo-2 {
    width: 200px;
    height: 22px;
} */




/* .dpiit-text {
    font-size: 15px;
    color: #ff5722;
    margin-top: 100px;
    margin-left: 230px;
    align-content: center;
    text-align: center;
    align-items: center;
    text-wrap: pretty;
}

.dpiit-cards {
    display: inline-block;
    display: flex;
    width: 250px;
    height: 350px;
}

img {
    width: 100%;
    border-radius: 12px;
    height: 400px;
    object-fit: cover;
}

.card {
    background-color: white;
    border: 2px solid #f0b07c;
    padding: 8px;
    border-radius: 12px;
    margin: 10 10 10 10;
    margin: 10 10;
} */