*
{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.maindiv
{
    /* border: solid red; */
    height: 100vh;
    width: 100%;
}
.nav
{
    /* border: solid green; */
    display:inline;
    margin-left: 7px;
    margin-top: 20px;
    width: auto;
    border-color: transparent;
}
n2
{
   /* border: solid skyblue; */
   margin-left: 700px;
   margin-top: -65px;
   height: 70px;
   /* width: 100%; */
   /* padding-top: 50px; */
}
im1
{
    position: relative;
    left: 110px;
    height: 60px;
    width: 80px;
}
#l1
{
   position: relative;
}
li{
   position: relative;
   top: 20px;
   /* color: #fd5825; */
}
.or
{
  color: #fd5825;
}
#l2
{
   left: 30px;
}
#l3
{
   left: 60px;
   
}
#l4
{
   left: 90px;
}
#l5
{
   left: 120px;
}
#l6
{
   left: 150px;
}
#b1
{
  background-color: #fd5825;
  color: #ffffff;
  border-color: transparent;
  border-radius: 2px;
}
#n3
{
  position: fixed;
   height: 70px;
   /* border: solid yellowgreen; */
   background-color: white;
   color: white;
}
#n4
{
   height: 30px;
   width: 100%;
   /* border: solid black; */
}
#im2
{
   height: 530px;
   width: 500px;
   /* position: relative;
   left: 920px;
   bottom: 30px; */
}
#md2
{
   height: 468px;
   position: relative;
   top: 80px;
   /* border: solid hotpink; */
}
#h1 
{
   height: 450px;
   width: 500px;
   /* border: solid paleturquoise; */
   position: relative;
   left: 765px;
   bottom: 410px;
}
#h12
{
   /* border: solid black; */
   height: 75%;
   width: 660px;
   letter-spacing: 3px;
   position: relative;
   left: 110px;
   top: 110px;
}
#p1
{
   padding-top: 40px;
   font-size: x-large;
   letter-spacing: 1px;
}
#b2
{
  position: relative;
  top: 50px;
  padding: 15px 45px;
  background-color: #fd5825;
  color: #ffffff;
}
m3
{
  position: relative;
  top: 100px;
  /* border: solid black; */
  width: 1270px;
  height: 482px;
  margin-left: 112px;
}
.b1

 
bo1
{
  /* border: solid greenyellow; */
  width: 416px;
  height: 270px;
  background-color: #fd5825;
  color: #ddddb4;
  padding: 23px 23px;
  font-size: 1.9rem;
  border-radius: 5px;
}
bo2
{
    position: absolute;
    left: 431px;
    bottom: 212px;
    /* border: solid purple; */
    width: 416px;
    height: 270px;
    background-color: #f3a71d;
    color: #ddddb4;
    padding: 23px 23px;
    font-size: 1.9rem;
    border-radius: 5px;
}
#bo3
{
   /* border: solid skyblue; */
   width: 416px;
   height: 270px;
   position: relative;
   left: 865px;
   bottom: 270px;
   background-color: #999a1c;
   color: #ddddb4;
   padding: 23px 23px;
   font-size: 1.9rem;
   border-radius: 5px;
}
#h3
{
   color: #ffffff;
}
#p3
{
   font-size: large;
   letter-spacing: 1px;
   padding-top: 10px;
}
#b2
{
   padding: 4px 23px;
   background-color: #ffffff;
   color: black;
   letter-spacing: 2px;
   position: relative;
   top: 20px;
}
#block3
{
   border: solid brown;
   height: 300px;
   width: auto;
   animation-name: ani;
   animation-duration: 10s;
   margin-left: 112px;
}
/* #block4
{
   border;
} */
#bo11
{
   /* border: solid greenyellow; */
   width: 416px;
   height: 480px;
   /* background-color: #fd5825; */
   color: #373232;
   padding: 23px 23px;
   font-size: 1.9rem;
   border-radius: 5px;
   position: relative;
   left: 50px;
}
#bo21
{
   position: absolute;
   left: 520px;
   bottom: 212px;
   /* border: solid purple; */
   width: 380px;
   height: 270px;
   /* background-color: #f3a71d; */
   color: #ddddb4;
   padding: 23px 23px;
   font-size: 1.9rem;
   border-radius: 5px;
}
#bo31
{
   /* border: solid skyblue; */
   width: 416px;
   height: 300px;
   position: relative;
   left: 890px;
   bottom:480px;
   /* background-color: #999a1c; */
   color: #ddddb4;
   padding: 23px 23px;
   font-size: 1.9rem;
   border-radius: 5px;
}
#h6,#h5,#s1
{
   font-size: large;
}
#h5
{
padding-top: 25px;
}
/* #s1
{

} */
#p31
{
   letter-spacing: 2px;
   font-size: medium;
   padding-top: 10px;
   /* padding-right: 40px; */
}
#z
{
   border-color: transparent;
   background-color: transparent;
}
#z1
{
   color: #fd5825;
   border-color: transparent;
}
#p311,#h6,.p3112
{
   color: #32325d;
}
#fs
{
   font-size: large;
}
#fs1
{
   font-size: medium;
}
.image
{
   border: solid mediumpurple;
   height: 230px;
   width: 350px;
   
   animation-name: ani;
   animation-duration: 0s;
   animation-iteration-count: infinite;
   animation-delay: 5s;
}
/* @keyframes ani {
   from{transform: translateX(2700px)};
   to{transform: translateY(-27000px)};
} */
#cab
{
   position: relative;
   left: 1062px;
   bottom: 234px;
}
#ctrl
{
   position: relative;
   left: 1062px;
   bottom: 234px;

}
#db
{
   position: relative;
   left: 1883px;
}
#cog
{
   position: absolute;
   left: 2235px;
}