*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#netflix {
    height: 100vh;
    background-position: center;
    background-size: cover; 
}
#h1 {
   color: red;
   text-align: center;
   padding-top: 200px;
   font-size: 200px;
   text-shadow: 10px 0px 5px black  ;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.shadowtext1{
    color: rebeccapurple;
    text-shadow: 5px 0px 1px black ;
}
.shadowtext2{
    color: blue;
    text-shadow: 5px 0px 1px black ;

}
.shadowtext3{
    color: yellow;
    text-shadow: 5px 0px 1px black ;
}
#paragraphs {
    height: 100vh;
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    text-shadow: 10px rgb(255, 255, 255);
    font-size: medium;
    color: brown;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}
img {
    display: block;
    height: 500px;
    width: 500px;
    border-radius: 50%;
}
ol ul a {
    display: inline-block;
    padding: 15px;  
    margin-right: 400px;
    color: white;
}
ol {
    height: 50px;
    background-color: rgb(83, 83, 134);
}
body {
    background-color: rgb(107, 107, 175);
}
/* #photo {
    height: 100px;
    width: 100px;
    border-radius: 50%;
} */